In [1]:
import pandas as pd

In [2]:
holdout = pd.read_csv('./datasets/holdout_set_DreamTeam.csv')
holdout.head()

,engagements,aarontaosunitedmasters,abc,abcespn,ability,able,academy,acfresh,achievement,acknowledges,...,zhuri,zmane,zo,neg,neu,pos,compound,Followers at Posting,Type_Photo,Type_Video
0,395507.461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000,0.000,0.0000,36984682,1,0
1,391732.299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000,0.000,0.0000,36984682,1,0
2,657518.475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.729,0.271,0.3818,36984682,0,1
3,589417.469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000,0.000,0.0000,36955156,0,1
4,608191.330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.000,0.000,0.0000,36955156,0,1

In [3]:
holdout['engagements'].describe()

count      1000.000000
mean     583984.947322
std      171975.961105
min      204553.151000
25%      387553.955500
50%      658610.212000
75%      700425.241000
max      960188.825000
Name: engagements, dtype: float64

In [7]:
holdout.isnull().sum().sum()

0

In [4]:
training = pd.read_csv('./datasets/training.csv')
training.head()

,Engagements,Followers at Posting,Created,Type,Description
0,502093,36984682,2019-05-21 23:30:51 EDT,Video,The @raptors bench trio of @sergeibaka @norman...
1,603380,36984682,2019-05-21 22:53:33 EDT,Video,@kyle_lowry7 pulls from deep for the @raptors ...
2,603380,36984682,2019-05-21 22:19:58 EDT,Video,@k_mid22 with some english on the @bucks dime!
3,725100,36984682,2019-05-21 22:02:41 EDT,Video,Kawhi punches it home with the left on TNT!
4,661446,36984682,2019-05-21 20:47:49 EDT,Video,@giannis_an34 goes baseline early to rock the ...

In [5]:
training['Engagements'].describe()

count    7.766000e+03
mean     5.923129e+05
std      1.792682e+05
min      1.278160e+05
25%      4.173900e+05
50%      6.397285e+05
75%      7.216282e+05
max      1.129585e+06
Name: Engagements, dtype: float64

In [6]:
training.shape

(7766, 5)